@use 'vuetify' with (
  $body-font-family: 'Lato',
  $font-size-root: 1.03rem,
  $color-pack: false
);

.bg-pink {
  background-color: #e00d8d !important;
  color: #ffffff !important;
}

.bg-orange {
  background-color: #ba5908 !important;
  color: #000000 !important;
}

.bg-green {
  background-color: #3c853f !important;
  color: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

.responsive-text {
  font-size: clamp(14px, 1vw, 24px);
}